<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}CFSMA
			{% endblock %}
		</title>
		<link
		rel="icon" type="image/png" href="{{ asset('build/images/image0.png') }}"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container-fluid">
				<a class="w-5" href="{{ path('matiere') }}"><img class="w-50 rounded-circle me-2" src="{{ asset('build/images/image0.png') }}" alt=""></a>
				<a class="navbar-brand text-white" href="{{ path('matiere') }}">Projet VESUNNA</a>
				<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto">
						<li class="nav-item dropdown" id="myDropdown">
							{% if is_granted('ROLE_EDIT') or is_granted('ROLE_CHEF') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
								<a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown">
									Administration
								</a>
							{% endif %}
							<ul class="dropdown-menu bg-dark">
								{% if is_granted('ROLE_SUPERADMIN') %}
									<li>
										<a class="dropdown-item text-light" href="{{ path('admin_app_register') }}">
											Gestion Utilisateurs
										</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item text-light" href="#">
										Gestion Régiment &raquo;
									</a>
									<ul class="submenu">
										{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
											<li>
												<a class="dropdown-item text-light" href="{{ path('addcompagnie') }}">Ajouter Compagnie</a>
											</li>
											<li>
												<a class="dropdown-item text-light" href="{{ path('addsection') }}">Ajouter Section</a>
											</li>
										{% endif %}
										{% if is_granted('ROLE_CHEF') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERADMIN') %}
											<li>
												<a class="dropdown-item text-light" href="{{ path('addfiliere') }}">Ajouter Filière</a>
											</li>
											<li>
												<a class="dropdown-item text-light" href="{{ path('admin_app_formateur') }}">Ajouter Formateur</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item text-light" href="{{ path('admin_app_stagiaires') }}">Ajouter Stagiaire</a>
										</li>
										<li>
											<a class="dropdown-item text-light" href="{{ path('addcohorte') }}">Ajouter Cohorte</a>
										</li>
										<li>
											<a class="dropdown-item text-light" href="{{ path('addmatiere') }}">Ajouter Matière</a>
										</li>
										<li>
											<a class="dropdown-item text-light" href="{{ path('addcours') }}">Ajouter Cours</a>
										</li>
										<li>
											<a class="dropdown-item text-light" href="{{ path('addmatierepublic') }}">Ajouter Matière Public</a>
										</li>
										<li>
											<a class="dropdown-item text-light" href="{{ path('addcourspublic') }}">Ajouter Cours Public</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					{% if app.user %}
						<a class="nav-link text-light" href="{{ path('public') }}">Public</a>
						<a class="nav-link text-light" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				</div>
			{% endif %}
		</nav>
		<main class="mx-5 my-4"> {% block main %}{% endblock %}
			</main>
			<footer
				class="footer1 container-fluid bg-dark text-center text-white">
				<!-- Grid container -->
				<div
					class="container p-2 pb-0 ">
					<!-- Section: Social media -->
					<section>
						<div class="col-md-auto">
							<img width="40" height="50" src="{{ asset('build/images/logo.994dcb64.png') }}" alt=" "/>
						</div>
						<div class=" text-center">
							<P>Cours des stagiaires du CFSMA, made with some ❤️ and ☕.</p>
						</div>
					</section>
					<!-- Section: Social media -->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="text-center p-1">
					<a class="btn btn-footer text-white" target="_blank" href="https://symfony.com/">Powered with Symfony</a>
					-
					<a class="btn btn-footer text-white" href="{{ path('About') }}">Documentation</a>
				</div>
				<!-- Copyright -->
			</footer>
		</body>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</html>
