{% extends "base.html.twig" %}
{% form_theme formFiliere 'bootstrap_5_layout.html.twig' %}
{% block main %}
	<section class="d-flex justify-content-between">
		{{ form_start(formFiliere) }}
		<h2 class="text-start my-5">
			{% if EditMode %}
				Modifier une Section
			{% else %}
				Ajouter une Section
			{% endif %}
		</h2>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<label for="exampleFormControlInput1" class="form-label">Nom de la Filière:</label>
		{{ form_row(formFiliere.name)}}
		<label for="exampleFormControlInput1" class="form-label">Nom de la Compagnie/Section :</label>
		{{ form_row(formFiliere.section) }}
		<div class="d-flex justify-content-around mt-4">
			<button type="submit" class="btn btn-primary btn-outline-success text-white">
				{% if EditMode %}
					Modifier
				{% else %}
					Enregistrer
				{% endif %}
			</button>
			<a href="/addfiliere/" class="btn btn-primary btn-outline-danger text-white">Annuler</a>
		</div>
		{{ form_end(formFiliere) }}
		<div class="w-75 my-auto">
			<table class="table border border-3 table-bordered ">
				<thead>
					<tr class="bg-danger">
						<th scope="col">Compagnie</th>
						<th scope="col">Section</th>
						<th scope="col">Filière</th>
						<th scope="col">Action</th>
					</tr>
				</thead>

				{% for compagnie in compagnies %}
					{% for section in sections %}
						{% if  section.compagnie.id == compagnie.id %}
							{% for filiere in filieres %}
								{% if  filiere.section.id == section.id %}
									<tbody class="bg-dark text-white">
										<tr>
											<td>{{ compagnie.name }}</td>
											<td>{{ section.name }}</td>
											<td>{{ filiere.name }}</td>
											<td>
												<a class="text-decoration-none text-hover-success" href="/addfiliere/{{ filiere.id }}">Modifier</a>
												/
												<a class="text-decoration-none text-hover-danger" href="/addfiliere/delete/{{ filiere.id }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
											</td>
										</tr>
									</tbody>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</table>
		</div>
	</section>
{% endblock %}
